# Antigravity CLI config
.antigravitycli

# Python virtual environment
.venv/
venv/
ENV/
env/

# Flask instance folder (contains sqlite database flaskr.sqlite)
instance/
*.sqlite
*.db

# Python compiled cache (Global)
__pycache__/
*.pyc
*.pyo
*.pyd

# Operating System files
.DS_Store
Thumbs.db

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
